# needed for exercises
falcon
pytest
requests

# also needed for exercises:
# gunciorn (linux, mac)
# waitress (windows)

# additionally needed for extras/next_steps:
jsonschema
pyyaml
schema


# additionally needed for extras/same_test_different_tools:
behave
robotframework-requests
tavern