# needed for exercises
falcon==3.0.0
pytest
requests

# also needed for exercises, uncomment the line releveant to your OS:
# gunciorn==20.0.4  # (linux, mac)
# waitress==2.0.0  # (windows)

# additionally needed for extras/next_steps:
jsonschema
pyyaml
schema


# additionally needed for extras/same_test_different_tools:
behave
robotframework-requests
tavern